* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: all 0.3s ease, font-size 0s ease;
}

body {
     font-family: Arial, sans-serif;
     background-color: #fafafa;
     /* min-height: 100vh; */
     height: 100vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: scroll;
     /* overflow-x: scroll; */
     padding: 5%;
}

.container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 400px;
     max-width: 400px;
     height: 100vh;
     padding: 20px;
     margin: 20%;
     border: 1px solid #000;
}
#determinant{
     display: none;
}
p{
     overflow: hidden;
     overflow-x: scroll;
     scrollbar-width: none;
}
#matrix-inp {
     margin-top: 40px;
     width: 100%;
     padding: 10px;
     border-radius: 4px;
     border: 1px dashed #ccc;
     outline: none;
     background-color: #f3f3f3;
}
#info {
     display: block;
     color: #333;
     margin: 10px 0;
}
#matrix-inp:not(:placeholder-shown) ~ #info,
#matrix-inp:not(:placeholder-shown) ~ #hr-1{
     /* display: none; */
     height: 0;
     width: 0;
     font-size: 0;
     margin: 0;
     padding: 0;
     }
#matrix-inp:not(:placeholder-shown) ~ #your-matrix {
     display: block;
     margin: 20px 0px 0px 0px;
     font-size: 1.2rem;
}
#your-matrix {
     display: none;
     margin: 0px 0px 0px 0px;
     font-size: 0px;
}

hr {
     margin: 20px 0;
     border: none;
     border-top: 1px dashed #ccc;
}


#matrix-inp::placeholder {
     color: #aaa;
}
button {
     background-color: #4CAF50;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin: 10px 0;
}

button:hover {
     background-color: #45a049;
}

#result {
     margin-top: 1rem;
     font-size: 1.2rem;
     color: #333;
}